.app {
  text-align: right;
  
}

.navbar {
  background-color: pink;
  padding: 40px;
  font-size: 40px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
}

.navbar li  {
  padding: 10px;
  text-decoration: none;
  color: green;
}

.login-form {
  text-align: center;
  margin-top: 100px;
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.login-title {
  border-bottom: 5px solid #8c0a0a;
  padding-bottom: 10px;
}

.login-form input {
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
}

nav ul li:hover{
  color: red
}

nav ul li:active{
  background-color: black;
}


/* #myButton {
  color: red;
} */